body {
    background-color: antiquewhite;
}

.section-1 {
    margin-bottom: 50px;
}

section {
    text-align: center;
}

.section-1 > p {
    
        color: brown;
        margin: 0;
        
}

.section-2 > article > p {
    font-size: 11px;
}

.section-3 > article > img {
    height: 310px;
}

.section-3 > article > p {
    font-size: 11px;
}

article {
    display: inline-block;
    margin: 10px;
    
    width: 505px;
   }

   article > p {
    margin: 0;
    width: 400px;
    margin-left: 48px;
    font-weight: bold;
   }


    span {
        border-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
        border: 3px solid yellow;
    }

    h2 {
        font-family: "Fjalla One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14PX;
        color: brown;
        margin: 0;
    }

    img {
        border-radius: 5px;
        border: 5px solid;
        width: 400px;
    }

    a {
        text-decoration: none; 
        margin-left: 50px; 
    }

    h1 {
        font-family: Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    blockquote {
        color: red;
    }

